[submodule "external/zstd"]
	path = external/zstd
	url = https://github.com/facebook/zstd
[submodule "external/cgltf"]
	path = external/cgltf
	url = https://github.com/jkuhlmann/cgltf
[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/madler/zlib
