[submodule "external/zstd"]
	path = external/zstd
	url = https://github.com/facebook/zstd
[submodule "external/cgltf"]
	path = external/cgltf
	url = https://github.com/jkuhlmann/cgltf
[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/madler/zlib
[submodule "external/cglm"]
	path = external/cglm
	url = https://github.com/recp/cglm
[submodule "external/tinycpng"]
	path = external/tinycpng
	url = https://github.com/REDxEYE/tinycpng
